* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.container { 
    height: 100vh;
    display: flex;
}

.nav-bar {
    background-color: #F0F0F0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.nav-bar i {
    flex-grow: 1;
    align-items: center;
    text-align: center;
}

.right-panel {
    flex-grow: 16;
    display: flex;
    flex-direction: column;
}

.right-panel header {
    flex-grow: 5;
    background-color: #454545;
}

.right-panel .main-content {
    flex-grow: 7;
    background-color: #FFFFFF;
}

header {
    display: flex;
    align-items: center;
    max-height: 35vh;
    /* height: 10vh; */
}

.header-container {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
}

.album-art-header {
    margin-left: 3rem;
    height: 15rem;
    width: 5rem;
    flex-grow: 2;
}

.album-info {
    height: 80%;
    padding: 1rem;
    flex-grow: 10;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.title-desc{
    color: white;
}
.title-desc > *{
    padding: 5px;
}

.play-options {
    list-style: none;
    display: flex;
    flex-direction: row;
    color: white;
}

.play-options li {
    padding: 10px;
}

.play-options li i {
    margin-right: 5px;
}

.body-container {
    padding: 10px;
    min-height: 50vh;
}

.item {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item span:last-child {
    color: blue;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.item > span {
    width: 33%;
}

.item.highlight {
    background-color: #F0F0F0;
}

footer {
    display: flex;
}

.album-art-footer {
    flex-grow: 1;
    width: 10%;
}

.footer-content {
    
    flex-grow: 4;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.footer-content > * {
    padding-top: 1rem;
    /* padding-bottom: 1rem; */
}

.album-art-footer img {
    width: 6rem;
    height: 6rem;
}

.play-options-footer {
    display: flex;
    justify-content: space-around;
    flex-grow: 10;
    align-items: center;
}

footer {
    padding: 1rem;
    background-color: #42689B;
}